@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=IBM+Plex+Serif:wght@400&display=swap');

@font-face {
  font-family: "Artbrush";
  src: url("/fonts/Artbrush.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'IBM Plex Serif', serif; */
  font-weight: 400;
  font-size: 16px;
}

.logo {
  font-family: "Artbrush";
  font-size: 3vh;

}

.back-logo {
  font-family: "Artbrush";
  font-size: 7vh;

}

.logo-box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-bar {
  height: 4.5vh;
  padding: 0 20vw;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #FDF4EB;
  color: #FE9477;
  text-align: center;
}

.nav-link {
  color: #909197;
  font-size: 13px;
}

/* .image {
  cursor: pointer;
} */

.mid-medium {
  font-size: 22px;
}

.big-medium {
  font-size: 36px
}

hr {
  width: 100%;
  border-top: #cdcdd1 solid 1px;
  padding: 5px 0;
}

.body {
  margin: 0;
  padding: 0;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #fff 50%, #4a1010 50%)

} ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


input[type="checkbox"] {
  display: none;
}

.book {
  display: flex;
}

#cover {
  width: 38vw;
  height: 75vh;
  background-color: #F5F5F5;
  box-shadow: 20px 20px 50px 15px grey;
  background-image: linear-gradient(-90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);

}

.flip-book {
  width: 38vw;
  height: 75vh;
  position: relative;
  perspective: 4500px;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.55s cubic-bezier(0.3, 0.025, 0.155, 1);
  color: #000;
}

p{
  font-size: 14px;
  line-height: 14px;
}

.search-result {
  margin: 1vh 0 1vh 0;
  padding: 2vh;
  border-radius: 10px;
  width: 100%;
  background-color: #E2E8F0;
  cursor: pointer;
}

.search-result:hover {
  background-color: #FBD38D;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  backface-visibility: hidden;
  background-color: #F5F5F5;
  background-image: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #F5F5F5;
  background-image: linear-gradient(-90deg, rgba(227,227,227,1) 0%, rgba(247,247,247,0) 18%);
  color: #000;
}

.back-btn{
  position: fixed;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translateX(-95%) translateY(-50%);
  backface-visibility: hidden;
  color: #000;
}

.next-btn{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateX(95%) translateY(-50%);
  backface-visibility: hidden;
  cursor: pointer;
}

.css-6z8hub {
  backface-visibility: hidden;
}

.bookmark {
  backface-visibility: hidden;
  transform: translateY(-95%);
  position: absolute;
  right: 5%;
  top: 0;
}

.bookmark-wrapper {
  width: 100%;
  height: 100%;
}

.bookmark-front {
  top:0;
  left:0;
  height: 100%;
  padding: 10px;
  background-color: #ECC94B;
  font-family: "Artbrush";
  font-size: 1rem;
  backface-visibility: hidden;
}

.bookmark-back {
  cursor: pointer;
  z-index:-1;
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateY(-95%);
  backface-visibility: hidden;
  padding: 10px;
  background-color: #ECC94B;
  font-family: "Artbrush";
  font-size: 1rem;
}